body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, p{
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
    width: 100%;
}


                                      /*====================HEADER SECTION====================*/

.container{
    max-width: 320px;
    padding:  0 16px;
    margin: auto;
    
}
.container-header{
    display: block;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.header-menu {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    padding: 16px 0;
}
.nav-menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    color:  #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio-navigation{
    color: #2e2f42;
}

.button-menu-header-mobile{
    width: 24px;
    height: 24px;
    border: none;
    background-color: #fcfcfc;
    cursor: pointer;
    padding: 0;
}
.link-menu{
    display: none;
}
.address{
    display: none;
}
@media (min-width: 768px){
    .header-menu{
        padding: 0;
    }
}
@media (min-width: 768px){
    .container{
        margin: 0 auto;
        padding: 0 16px;
        max-width: 768px;
    }
}
@media (min-width: 768px){
  .container-header{
    display: flex;
        justify-content: space-between;
        align-items: center;
  }
}
.nav-menu{
    align-items: center;
        display: flex;
        justify-content: space-between;
}
@media (min-width: 768px){
    .mobile{
        display: none;
    }
}

@media (min-width: 768px){
    .logo-link-header{
    margin-right: 76px;
}
}
@media (min-width: 768px){
    .link-menu{
        display: flex;
    }
}
.link-menu{
    gap: 40px;
}
.link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
    position: relative;
    color: #404BBF;
}
.link-menu .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}
@media (min-width: 768px){
    .address{
        display: block;
    }
}
.address{
    font-style: normal;
}
@media  (min-width: 768px){
  .address-menu{
    flex-direction: column;
    gap: 12px
  }
}
@media (min-width: 768px){
    .header-list{
        display: flex;
    }
}
@media (min-width: 768px){
    .address-link{
        padding: 0;
            color: #434455;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.17;
            letter-spacing: 0.04em;
    }
}
.address-link{
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1158px){
    .container{
        max-width: 1158px;
    }
    .logo-link-header{
        padding-top: 24px;
        padding-bottom: 24px;
    } 
     .address-menu{
    flex-direction: row;
    gap: 40px;
  }
  .address-link{
        padding: 24px 0;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
    }

}


.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.link:hover,
.link:focus {
    color: #404BBF;
}

                                  /*=================HERO SECTION===================*/

.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
    rgba(46, 47, 66, 0.70)),
    url(../images/hero_mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-device-pixel-ratio: 1),
(min-resolution: 192dpi),
(min-resolution: 2dppx), (min-width: 768px){
        .hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                        url(../images/hero_tab.jpg);
        }
    }
    @media (min-width: 1158px){
        .hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                        url(../images/hero.jpg);
        }
    }



@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx), (max-width: 767px){
    .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
        url(../images/hero_mob2x.jpg); 
    }
}
      @media (min-width: 768px){
        .hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                    rgba(46, 47, 66, 0.70)),
                    url(../images/hero_tab2x.jpg);
        }
    }
     @media (min-width: 1158px){
        .hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                        rgba(46, 47, 66, 0.70)),
                        url(../images/hero2x.jpg);
        }
     }


.section-title{
    background-color: #2E2F42;
    padding: 72px 0;
}
.title{
    margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;
        width: 150px;
        color: #FFFFFF;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.button{
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
   font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px){
    .section-title{
        padding: 112px 0;
    }
    .title{
            font-size: 56px;
            font-weight: 700;
            line-height: 1.071;
            letter-spacing: 0.02em;
            width: 496px; 
}
}





@media screen and (min-width: 1158px){
    .title{
         margin-bottom: 48px;
    }
    .button:hover,
    .button:focus {
        background-color: #404BBF;
    }

}


               /*========================FEATURE SECTION=======================*/

.section-feature{
    padding: 96px 0;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.icon-box-feature{
        height: 112px;
        background: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8E8F99;
        justify-content: center;
        align-items: center;
        display: none;
        width: 264px;
}
.feature-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.feature-text{
color: #434455;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}
@media (min-width: 768px){
    .feature-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;  
    }
    .feature-card{
        width: calc((100% - 24px) / 2);
    }
    .feature-title{
        text-align: start;
    }
}
@media (min-width: 1158px){
    .section-feature{
        padding: 120px 0;
    }
    .feature-list{
        gap: 24px;
        flex-wrap: nowrap;
    }
    .feature-card{
        width: calc((100% - 72px) / 3);
    }
    .icon-box-feature{
        display: flex;
    }
    .feature-title{
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    .feature-text{
        font-weight: 400;
    }
}


                             /*==================TEAM SECTION================*/

.team-section{
    padding: 96px 0;
    background-color: #F4F4FD;
}
.title-team{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
}
.team-item{
    background-color: #FFFFFF;
     box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
}
.team-card-content{
    padding: 32px 0;
}
.team-member-name{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin: 0;
        margin-bottom: 8px;
}
.team-center{
    text-align: center;
}
.team-member-position{
    color: #434455;
    font-size: 16px;
    margin-bottom: 8px;
}
.social-links{
    display: flex;
    justify-content: center;
     gap: 24px;
    
}
.social-links-item{
    width: 40px;
    height: 40px;
}
.social-links-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-link{
    fill: #f4f4fd;
}
@media (min-width: 768px){
    .container-team{
        width: 584px;
    }
    .team-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
   .team-item{
        width: calc((100% - 48px) / 2);
    }
}
@media (min-width: 1158px){
    .container-team{
        min-width: 1158px;
    }
    .team-section{
        padding: 120px 0;
    }
    .title-team{
        text-align: center;
    }
    .team-list{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .team-item{
        width: calc((100% - 72px) / 4);
    }
    .team-card-content{
        padding: 32px 16px;
    }
    .social-links-link:hover,
    .social-links-link:focus {
            background-color: #404BBF;
}
}
                             /*================PORTFOLIO SECTION==================*/ 


.section-portfolio{
    padding: 96px 0;
}
.title-portfolio{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: column;
}
.project-card{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box{
    overflow: hidden;
    position: relative;
}
.overlay-text{
    color:  #F4F4FD;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-content{
    border-bottom:  1px solid  #E7E9FC;
    border-left: 1px solid  #E7E9FC;
    border-right: 1px solid  #E7E9FC;
    margin-top: 0px;
    padding: 32px 16px;

}
.project-card-name{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.project-card-service{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
@media (min-width: 768px){
    .portfolio-list{
        flex-direction: row;
    }
    .project-card{
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px){
    .section-portfolio{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .title-portfolio{
        text-align: center;
    }
    .portfolio-list{
        flex-direction: row;
    }
    .project-card{
        width: calc((100% - 48px) / 3);
    }
    .project-card:hover .overlay-text {
        transform: translateY(0%);
        }
    .project-card:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
}
 
                          /*=====================FOOTER SECTION================== */

.footer-section{
    background-color: #2E2F42;
    padding: 100px 0;
}
.container-footer {
    display: flex;
    gap: 72px;
    align-items: center;
    flex-direction: column;
}
.text-logo-footer{
    text-align: center;
    margin-right: 0;
}
.logo-studio-footer{
    color: #F4F4FD;
}
.logo-link-footer{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
    color: #F4F4FD;
    text-align: start;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    max-width: 264px;
}
.footer-heading{
    margin-right: 0;
}
.social-media-text{
    color:#FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.social-links-footer{
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}
.social-links-item-footer{
    width: 40px;
    height: 40px;
}
.social-links-link-footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-text{
    color:  #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}
.form-footer{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-direction: column;
}
.form-input-footer{
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    
}
.form-button-footer{
color:  #FFF;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
display: flex;
background:  #4D5AE5;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 16px;
min-width: 165px;
height: 40px;
font-family: inherit;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-footer::placeholder{
    color: #fff;
}
@media (min-width: 768px){
    .container-footer{
        align-items: baseline;
        width: 584px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .text-logo-footer{
        text-align: start;
    }
    .social-media-text{
        text-align: start;
    }
    .subscribe-area{
        margin-right: 25px;
    }
    .subscribe-text{
        text-align: start;
    }
    .form-footer{
        gap: 24px;
        flex-direction: row;
    }
}
@media (min-width: 1158px){
    .footer-section{
        min-width: 1158px;
    }
    .container-footer{
        width: 1158px;
        align-items: baseline;
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1158px;
    }
    .text-logo-footer{
        margin-right: 120px;
    }
    .footer-heading{
        margin-right: auto;
    }
    .social-media-text{
        text-align: start;
    }
    .subscribe-area{
        margin-right: 0;
        width: 100%;
        max-width: fit-content;
    }
    .subscribe-text{
        text-align: start;
    }
    .form-footer{
        gap: 24px;
        flex-direction: row;
    }
    .social-links-link-footer:hover,
    .social-links-link-footer:focus{
          background-color: #31D0AA;
    }
    .form-button-footer:hover,
    .form-button-footer:focus{
         background-color:  #404BBF
    }
    .form-input-footer:hover,
    .form-input-footer:focus{
        border: 1px solid #fff;
    }
}

                              /*=====================MODAL WINDOW===================*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    height: 623px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}
.button-close-form{
    position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-form{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-form{
    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.form-div{
    margin-bottom: 8px;
}
.form-label{
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
     margin-bottom: 4px;
}
.relative-box{
    position: relative;
}
.form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 2px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-form{
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-div-textarea{
    margin-bottom: 16px;
}
.form-textarea{
    width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        border: 1px solid rgba(46, 47, 66, 0.40);
        border-radius: 4px;
        background-color: transparent;
        resize: none;
        display: block;
        padding: 8px 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.form-textarea::placeholder{
    color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    font-family: inherit;
    margin: 0;
}
.form-div-checkbox{
    margin-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.form-label-checkbox{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.form-span-checkbox{
    width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 8px;
        flex-shrink: 0;
}
.link-user-privacy{
    color: #4D5AE5;
    line-height: 1;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}
.form-button{
    margin: auto;
        padding: 16px 32px;
        border-radius: 4px;
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        margin-top: 16px;
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: inherit;
        cursor: pointer;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px){
    .form-container{
        width: 408px;
        height: 584px;
        padding: 72px 24px 24px 24px;
    }
}
@media (min-width: 1158px){
    .button-close-form:focus,
    .button-close-form:hover{
    background-color: #404BBF;
    border: none;
}
    .button-close-form:focus,
    .button-close-form:hover .icon-close-form{
    fill: #FFF;
}
    .form-input:focus {
              border-color: #4D5AE5;
}
    .form-input:focus+.icon-form {
     fill: #4D5AE5;
}
    .input-form-checkbox:checked+.form-label-checkbox>.form-span-checkbox{
     background-color: #404bbf;
     border: none;
     fill: #F4F4FD;
}
    .form-textarea:focus {
     border-color: #4D5AE5;
}
    .form-button:hover,
    .form-button:focus {
     background-color: #404BBF;
        }
}


                       /*====================MENU MOBILE HEADER=================*/

.backdrop-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
}
.backdrop-header.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-header-menu{
    width: 320px;
    min-height: 100vh;
    background: #FFF;
    margin: 0 auto;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.btn-close-menu-mobile{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}
.header-list-hidden{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}
.nav-hidden{
    margin-bottom: auto;
}

.link-menu-header{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.link-studio-menu-mobile{
    color: #404BBF;
}

.list-address-menu-mobile{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.address-menu-mobile{
    font-style: normal;
}
.list-address-menu-mobile{
    flex-direction: column;
    gap: 24px;
    display: flex;
    margin-bottom: 48px;
}

.address-link-mobile{
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.tel-menu-mobile{
   color: #4D5AE5;
}
.social-links-menu-mobile{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.social-link-item-menu-mobile{
    width: 40px;
    height: 40px;
}
.social-link-menu-mobile{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-social-link-menu-mobile{
    fill: #f4f4fd;
}
